<div>
    <h1>Issue Type</h1>
    <form name="IssueType" ng-submit="SaveIssueType(data)">
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">IssueType Name</label>
            <div class="col-10">
                <input class="form-control" ng-model="data.IssueTypeName" watermark-text="Issue Type Name" required type="text" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Max Price</label>
            <div class="col-10">
                <input class="form-control" ng-model="data.MaxPrice" required type="number" min="1" step="1" value="" id="example-number-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Fee /Day</label>
            <div class="col-10">
                <input class="form-control" ng-model="data.FeePerDay" required type="number" min="1" step="1" value="" id="example-number-input">
            </div>
        </div>
        <button type="submit" ng-disabled="IssueType.$invalid" class="btn btn-primary">Submit</button>
    </form>
    <div class="table-responsive">
        <table class="table col-sm-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>IssueType Name</th>
                    <th>Max Price</th>
                    <th>Fee /Day</th>
                    <th># Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="IssueType in IssueTypeDetails">
                    <td data-title=" ">{{IssueType.IssueTypeID}}</td>
                    <td data-title="IssueType Name">{{IssueType.IssueTypeName}}</td>
                    <td data-title="Max Price">{{IssueType.MaxPrice}}</td>
                    <td data-title="Fee /Day">{{IssueType.FeePerDay}}</td>
                    <td data-title="Delete Issue Type"><button ng-click="DeleteIssueType(IssueType)" type="submit" class="btn btn-primary">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>